<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Пользователи</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/structure">Структуры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/news">Новости</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/pages">Страницы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/images">Изображения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/settings">Настройки</a>
  </li>
</ul>