<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/rules">Правила</a>
  </li>
{{#if session}}
<li class="nav-item">
    <a class="nav-link" href="/games">Игра</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/logout">Выйти</a>
  </li>
{{else}}
  <li class="nav-item">
    <a class="nav-link" href="/users/login">Войти</a>
  </li>
{{/if}}
  
</ul>
