<table class="table">
  <thead>
    <tr>
      <td align="right" colspan="2"><a href="/admin/news/add" class="btn btn-primary">Добавить новость</a></td>
    </tr>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Url</th>
    </tr>
  </thead>
  <tbody>
      {{#each items}}
     <tr>
      <td><a href="/admin/news/{{url}}">{{title}}</a></td>
      <td>{{url}}</td>
    </tr>
{{/each}}
  </tbody>
</table>
