
  <form class="form-signin" method="post">
<h1 class="h3 mb-3 font-weight-normal">Подтверждение регистрации</h1>
  
    <div>Вы успешно подтвердили регистрацию. Сейчас можете <a href="/users/login">войти</a> на сайт!</div>
  
  <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
