<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
      {{#each items}}
     <tr>
      <td><a href="/admin/structure/{{id}}">{{name}}</a></td>
    </tr>
{{/each}}
  </tbody>
</table>
