<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Name Eng</th>
    </tr>
  </thead>
  <tbody>
      {{#each items}}
     <tr>
      <td><a href="/admin/turnir-type/{{id}}">{{name}}</a></td>
      <td>{{name_en}}</td>
      <td><form method="post" action="turnir-type/remove/{{id}}"><input type="submit" value="Удалить"/></form></td>
    </tr>
{{/each}}
  </tbody>
</table>
<script>
  
</script>